/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: 'Lato', sans-serif;
}

h3 {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0px;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3A3a;
}

.item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-details {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.head-details .picture {
  width: 100%;
}

.head-details .more_inf {
  font-family: 'fantasy', cursive;
}

@media (max-width:768px) {
  .head-details {
    text-align: center;
  }
}

.main-todo {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}



/* Heading */
/* .main-task  */

.main-head {
  margin: 0 0 20px;
}

.task-wrapper {
  display: flex;
}

.task {
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

#new-task,
.add-task {
  flex-grow: 1;
  width: 226px;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  color: #888;
}

.add-task:focus {
  color: #333;
}

/* New Task */
.main-task {
  display: block;
}

/* Task list */

.check {
  margin: 0 10px;
}

.delete .delete-pic {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete .delete-pic:hover {
  transform: rotateZ(0);
}

.btn-txt {
  display: none;
}

/* Completed */
#completed-tasks .task {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.add-task {
  display: none;
}

.edit-mode .add-task {
  display: inline-block;
  width: 224px;
}

.edit-mode .task {
  display: none;
}